@model MvcStore2.Models.DEPOT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>DEPOT</legend>

    <div class="display-label">NAME</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAME)
    </div>

    <div class="display-label">ADDRESS</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ADDRESS)
    </div>

    <div class="display-label">TELEPHONE</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TELEPHONE)
    </div>

    <div class="display-label">COUNTRY</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COUNTRY)
    </div>

    <div class="display-label">FAX</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FAX)
    </div>

    <div class="display-label">EMAIL</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMAIL)
    </div>

    <div class="display-label">REGION</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REGION.NAME)
    </div>
</fieldset>

<fieldset>
    <legend>JEFE DE ALMACEN</legend>
    <div class="padding">
        @Html.Partial("_Boss")
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

