@model IEnumerable<MvcStore2.Models.ORDER_LINES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <table>
        <tr>
            <th>
                CANTIDAD
            </th>
            <th>
                PRECIO
            </th>
            <th>
                ASSIGNED_AMOUNT
            </th>
            <th>
                ORDER
            </th>
            <th>
                PRODUCT
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CANTIDAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRECIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ASSIGNED_AMOUNT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ORDER.CP_ENVIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRODUCT.NAME)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

</table>
